<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="d-flex" *ngFor="let data of pdfList,let i=index">
        <p>
          <img src="{{getFileExtensionIcon(data)}}" width="100px" class="img-fluid" alt="...">{{i}}{{data.name}}
        </p>
        <div class="d-grid gap-2 d-md-block">
          <button class="btn btn-primary" style="margin: 30px;" type="button" (click)="viewPdf(i)">View</button>
          <button class="btn btn-primary" style="margin: 30px;" type="button" (click)="viewAudioPopup(i)">Read</button>
        </div>

      </div>
    </div>
    <div class="col-md-8">
      <div *ngIf="modal">
        <pdf-viewer [src]="src" [render-text]="true" [original-size]="false" style="width: 450px; height: 500px"
          class="pdf_box"></pdf-viewer>
      </div>
    </div>
    <div class="col-md-8">
      <div *ngIf="audioModal">
        <!-- <ang-music-player [audioList]=audioFile ></ang-music-player> -->
        <div class="d-grid gap-2 d-md-block">
          <button class="btn btn-primary" style="margin: 30px;" type="button"(click)="playAudio()">Play</button>
          <button class="btn btn-primary" style="margin: 30px;" type="button" >Pause</button>
          <button class="btn btn-primary" style="margin: 30px;" type="button" >Pause</button>
        </div>
      </div>
    </div>

  </div>

</div>